@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


* {
  padding: 0;
  margin: 0;

}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  height: 100vh;
}

.formWrapper form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  margin: 20px;
  gap: 15px;
  /* background: white; */
  border-radius: 10px;
}

.formWrapper input {
  height: 30px;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
}

.formWrapper button {
  height: 30px;
  background: green;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 5px;
  transition: 0.5s;
  cursor: pointer;
}

.formWrapper button:hover {
  transition: 0.5s;
  background: orange;
  transform: scale(1.02);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(215deg, blue, orange, green);
  height: 100vh;
}

.container {
  display: flex;
  width: 85%;
  height: 90%;
  border-radius: 10px;
  border: 1px solid white;
  overflow: hidden;
}

.container .sidebar {
  flex: 1;
  background: rgb(150, 60, 235);
}

.container .sidebar .navbar {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background: rgb(122, 4, 233);
  padding: 15px;
  font-size: 20px;
  color: white;
}

.container .chat {
  flex: 2;
}

.container .sidebar .navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container .sidebar .navbar .user img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: center;
  object-fit: cover;
}

.container .sidebar .navbar button {
  background: green;
  color: orange;
  width: 60px;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.container .sidebar .navbar button:hover {
  background: orange;
  transform: scale(1.1);
  color: green;
}

.search {
  border-bottom: 1px solid white;
  color: white;
}

.search .searchForm {
  padding: 10px;
}

.search .searchForm input {
  color: white;
  background: transparent;
  border: none;
  outline: none;
}

.search .searchForm input::placeholder {
  color: aliceblue;
}

.search .userChat {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.userChat:hover {
  background: rgb(124, 3, 236);
}

.search .userChat img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: center;
  object-fit: cover;
}

.chat {
  flex: 2;

}

.chat .chatInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 10px;
  background: linear-gradient(115deg, blue, grey, blueviolet);
  color: white;
  color: b;
}

.chatIcon i {
  padding: 10px;
  font-size: 20px;
}

.messages {
  padding: 10px;
  background: linear-gradient(blueviolet, pink, white);
  height: calc(100% - 160px);
  overflow: scroll;
}

.input {
  background: linear-gradient(115deg, blue, orange, white);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.input input {
  height: 30px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: white;
}

.input input::placeholder {
  color: white;
}

.input .send {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.input .send button {
  width: 50px;
  height: 30px;
  background: black;
  color: white;
  border: none;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.input .send button:hover {
  background: blue;
  color: white;
  transform: scale(1.1);
}

.foto {
  width: 40px;
  padding: 10px;
  cursor: pointer;
}

.foto:hover {
  transform: scale(1.1);

}

.input .send i {
  margin: 10px;
}

.message {
  display: flex;
  gap: 10px;
}

.message .messageInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: blue;
}

.message .messageInfo img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: center;
  object-fit: cover;
}

.message .messageContext img {
  margin: 10px;
  width: 50%;
}

.message .messageContext {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.message .messageContext p {
  padding: 10px 20px;
  background: white;
  border-radius: 0 10px 10px 10px;
  max-width: max-content;
  margin-right: auto;
}

.message.owher {
  flex-direction: row-reverse;

}

.message.owher p {
  background: gray;
  color: white;
  border-radius: 10px 10px 0 10px;
  margin-left: auto;
}